{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <h1>Спільноти</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Опис</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('circle_show', { 'id': entity.id }) }}">Показати</a>
                    </li>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('circle_new') }}">#}
                {#Create a new entry#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
    {% endblock %}
