{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <h1>Ласкаво просимо до спільноти</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Назва</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Опис</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>


    <h2>Обговорення спільноти</h2>
    {% set questions = entity.questions  %}
    <table class="records_list">
        <thead>
        <tr>
            <th>Питання</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>
                    <a href="{{ path('question', { 'id': question.id }) }}">
                        {{ question.message }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<ul class="record_actions">
    <li>
        {#<a href="{{ path('circle') }}">#}
        {#Back to the list#}
        {#</a>#}
    </li>
    <li>
        <a href="{{ path('circle_question_create', { 'id': entity.id }) }}">
            Додати обговорення
        </a>
    </li>
</ul>
    <h2>Користувачі спільноти</h2>
    {% set users = entity.users  %}
    <table class="records_list">
        <thead>
        <tr>
            <th>ПІБ</th>
            <th>Телефон</th>
            <th>Дата рародження</th>
            <th>Стать</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('person_show', { 'id': user.person.id }) }}">
                        {{ user.person.lastname }} {{ user.person.firstname }} {{ user.person.surname }}
                    </a>
                </td>
                <td>
                    {#{{ user.person.phone }}#}
                </td>
                <td>{% if user.person.birthday %}{{ user.person.birthday|date('d.m.Y') }}{% endif %}</td>
                <td>{% if user.person.sex == 0 %}Чоловіча{% else %}Жіноча{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul class="record_actions">
    <li>
        {#<a href="{{ path('circle') }}">#}
            {#Back to the list#}
        {#</a>#}
    </li>
    <li>
        <a href="{{ path('circle_edit', { 'id': entity.id }) }}">
            Редагувати спільноту
        </a>
    </li>
</ul>
{% endblock %}
