{% extends app.request.xmlHttpRequest 
		? '::base.html.twig'//'::ajax.html.twig'
		: '::base.html.twig' %}

{% block body %}
		<div id="left-menu">
			<div class="widget">
				<div class="widget-title">Категорії</div>
				<div id="cat-tree"></div>

				{% if isServ %}
					<div id="cat-serv-tree"></div>
				{% endif %}
				<a href="#" class="lnk-blue">Карта всіх категорій</a>
			</div>
		</div><!-- #sidebar -->
		<div id="content">
			<img src="{{ asset('bundles/dk/images/main.png') }}" />
		</div><!-- #content -->
{% endblock body %}