{% extends (app.request.xmlHttpRequest or simple)
		? '::ajax.html.twig'
		: '::base.html.twig' %}

{% block title %}IndexBundle:Address:getSelect{% endblock %}

{% block body %}
<select class="select2 addressSelect" data-last="{{ isLast }}" data-level="0" data-url="{{ url }}" {% if isLast %} name="address" {% endif %}>
	<option selected value=""></option>
	{% for entity in entities %}
		<option value="{{ entity.id }}">{{ entity.value }}</option>
	{% endfor %}
</select>
{% endblock %}
