{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Item</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ entity.model }}</td>
            </tr>
            <tr>
                <th>Manufactor</th>
                <td>{{ entity.manufactor }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ entity.unit }}</td>
            </tr>
            <tr>
                <th>Main_picture</th>
                <td>{{ entity.mainpicture }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('item') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('item_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
