    <html ng-app="app">
<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        {% stylesheets 'bundles/dk/css/*.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts 'bundles/dk/js/*.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body ng-controller="index">
<div class="wrapper">

    <div id="header">

        <div id="top-header">
            <a href="/" id="logo" title="На головну"><img src="{{ asset('bundles/dk/images/logo.png') }}" alt="На головну" /></a>

            <div class="search-block">
                <input type="text" id="search-text" /><div class="category-select">
                    <select id="search-category">
                        <option value="">Замовляю товар</option>
                        <option value="">Пропоную товар</option>
                        <option value="">Замовляю послугу</option>
                        <option value="">Пропоную послугу</option>
                        <option value="">Замовляю технологію</option>
                        <option value="">Пропоную технологію</option>
                        <option value="">Замовляю інвестицію</option>
                        <option value="">Пропоную інвестицію</option>
                    </select>
                    <a class="select-button2"></a>
                </div><button class="btn btn-success btn-lg" title="Шукати"><span class="glyphicon glyphicon-search"></span></button>
                <div class="button-with-popup">
                    <button class="btn btn-primary btn-lg" title="Фільтр по часу"><span class="glyphicon glyphicon-calendar"></span></button>
                    <div class="button-popup">
                        <label for="filter-data-from">З:</label>
                        <input type="text" name="date-to" data-field="datetime" id="filter-data-from" readonly/>
                        <label for="filter-data-to">По:</label>
                        <input type="text" name="date-to" data-field="datetime" id="filter-data-to" readonly/>

                        <div id="timepicker"></div>

                        <button class="btn btn-success btn-lg" title="Фільтр по території">Фільтрувати</button>
                    </div>
                </div>
                <div class="button-with-popup">
                    <button class="btn btn-primary btn-lg" title="Фільтр по території"><span class="glyphicon glyphicon-map-marker"></span></button>
                    <div class="button-popup">
                        {# {{ render(controller( 'IndexBundle:Address:getSelectAjax', { 'id': 0 } )) }} #}

                        <button class="btn btn-success btn-lg" title="Фільтр по території">Фільтрувати</button>
                    </div>
                </div>
            </div>

            <span>Укр <span class="caret"></span></span>

            <ul id="register-block">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="active"><a href="{{ path('fos_user_security_logout') }}">Вийти</a></li>
                    <li class="active"><a href="{{ path('my_person_show') }}">Профайл</a></li>
                {% else %}
                    <li class="active"><a href="{{ path('fos_user_security_login') }}">Увійти</a></li>
                    <li>&nbsp;&nbsp;&nbsp;<a href="{{ path('fos_user_registration_register') }}">Реєстрація</a></li>
                {% endif %}
                <!-- <li><a href="#">Допомога</a></li> -->
            </ul>
        </div>
        <div id="menu-header">
            <ul>
                <li>
                    <a href="#">Товари</a>
                    <ul>
                        <li><a href="{{ path('index_homepage') }}">Пропоную</a></li>
                        <li><a href="{{ path('index_homepage') }}">Замовляю</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Послуги</a>
                    <ul>
                        <li><a href="{{ path('index_homepage_serv') }}">Пропоную</a></li>
                        <li><a href="{{ path('index_homepage_serv') }}">Замовляю</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Технології</a>
                    <ul>
                        <li><a href="{{ path('index_homepage_serv') }}">Пропоную</a></li>
                        <li><a href="{{ path('index_homepage_serv') }}">Замовляю</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Інвестиції</a>
                    <ul>
                        <li><a href="{{ path('index_homepage_serv') }}">Пропоную</a></li>
                        <li><a href="{{ path('index_homepage_serv') }}">Замовляю</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('person') }}">Люди та обговорення</a>
                </li>
            </ul>
        </div>
    </div>
  <!--      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
-->
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div id="main" class="clearfix">
        {% verbatim %}
            <!-- {{ body }} -->
        {% endverbatim %}
            {% block body %}
            {% endblock %}
    </div>

    <div id="footer" class="clearfix">
            <div id="footer-menu">
                <div class="menu-box">
                    <div class="menu-title">Контакти</div>
                    <div class="menu-block">
                        <ul>
                            <li>Тел.: 88888888888</li>
                            <li>Тел.: 88888888888</li>
                            <li>Mail: xxxxxxxx@mail.ua</li>
                            <li>Skype: xxxxxxxxxxxx</li>
                            <li>ICQ: cccccccccccc</li>
                            <li><a href="#" class="lnk">Показати на карті</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="copyright" class="clearfix">
                &copy; 2014 Донбас-Карпати
            </div>
        </div><!-- #footer -->
</div>
</body>
</html>