    <div class="clear"></div>
    <hr>
    <h4>Коментарі</h4>

    <table class="records_list" width="100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>

                    <b>{{ entity.message }}</b>
                    </br>
                    <div class="reiting">
                        Оцінка: {{ entity.countRating }}
                    </div>
                </td>
                <td>
                        {{ render(controller( 'MPSocialBundle:RatingAnswer:new', { 'id': entity.id } )) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            {#<a href="{{ path('answer_new') }}">#}
                {#Create a new entry#}
            {#</a>#}
        </li>
    </ul>
