{% extends '::base.html.twig' %}

{% trans_default_domain 'MPUserBundle' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Вхід</h3>
  </div>
  <div class="panel-body">

{% if error %}
    <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
{% endif %}
<form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
<div class="form-group">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <label class="col-sm-2 control-label" for="username">{{ 'security.login.username'|trans }}</label>
    <div class="col-sm-10">
    	<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="password">{{ 'security.login.password'|trans }}</label>
    <div class="col-sm-10">
    	<input type="password" class="form-control" id="password" name="_password" required="required" />
   	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    <div class="col-sm-10">
    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    </div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
    	<input type="submit" class="btn btn-default" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</div>
</form>

 </div>
</div>
{% endblock body %}
