body {
	background-color: #ebebeb;
}

ul {
	list-style-type: none;
}

.record_properties td{
	padding: 5px 20px;
}

.record_properties tr:nth-child(even){
	/*background-color: e3e3e3;*/
}

.records_list td{
	padding: 5px 20px;
}
.records_list th{
	text-align: center;
	padding: 5px 20px;
}

.records_list tr:nth-child(even){
	background-color: e3e3e3;
}

.records_list2 {
	width: 100%;
}

.records_list2 tr:nth-child(even){
	background-color: eee;
}

.records_list2 td{
	padding: 10px;
}

#mp_userbundle_person_birthday select {
	width: 100px;
	display: inline-block;
	margin-right: 10px;
}

.add_raiting {
	float: right;
}

.add_raiting .control-label {
	display: none;
}

.add_raiting form,
.add_raiting .form-group {
	display: inline-block;
}

.add_raiting .form-group {
	margin-right: 5px;
}

.clear {
	clear: both;
}

#mp_socialbundle_answer .control-label {
	display: none;
}

.reiting {
	margin-top: 10px;
	color: #6b6b6b;
}

#header {
	background-color: #ffffff;
	#top-header {
		margin: 0 auto;
		width: 1010px;
		height: 125px;
		vertical-align: middle;
		padding-top: 25px;

		#logo {
			margin-right: 20px;
		}

		.search-block {
			display: inline-block;
			padding-right: 20px;
			input {
				box-sizing: border-box;
				height: 48px;
				border: 1px solid #e5e5e5;
				vertical-align: middle;
			}
			button.btn {
				box-sizing: border-box;
				height: 48px;
				width: 48px;
				border-radius: 0;
				vertical-align: middle;
				&.btn-primary {
					background-color:  #5f5f5f; 
					border-color: #5f5f5f; 
				}
			}
			.category-select {
				display: inline-block;
			}

			.customSelect { 
				box-sizing: border-box;
				height: 48px;
				border: 1px solid #e5e5e5;
				border-left: 0;
				background-color: #f9f9f9;
				vertical-align: middle;
				padding: 12px 0 0 5px;
			}

			.customSelect.customSelectHover {
			/* Styles for when the select box is hovered */
			}

			.customSelect.customSelectOpen {
			/* Styles for when the select box is open */
			}

			.customSelect.customSelectFocus {
			/* Styles for when the select box is in focus */
			}

			.customSelectInner {
			/* You can style the inner box too */
			}
		}
		#register-block {
			text-align: right;
			display: inline-block;
			padding-left: 10px;
			li {
				display: inline-block;
			}
		}
	}
	#menu-header { 
		background-color: #f7f7f7;
		height: 58px;
		color: #737373;
		ul {
			padding: 0;
			width: 1010px;
			margin: 0 auto;
			li {
				display: inline-block;
				position: relative;
				height: 58px;
				width: 180px;
				padding-top: 12px;
				ul {
					display: none;
					position: absolute;
					bottom: 0;
					left: 0;
					margin: 0;
					padding: 0;
					width: auto;
					li {
						height: auto;
						display: inline-block;
						width: auto;
						margin-right: 5px;
					}
				}
				&:hover ul {
					display: inline-block;
				}
			}
		}
	}
}

#main {
	background-color: #ebebeb;
	padding: 20px 0 30px 0;
	width: 1122px;
	margin: 0 auto;
	#left-menu {
		width: 300px;
		display: inline-block;
		vertical-align: top;
	}
	#content {
		display: inline-block;
		vertical-align: top;
	}
}

#footer {
	background-color: #ebebeb;
	border-top: 1px solid #ffffff;
	box-shadow: 0px -1px 0px 0px rgba(221, 221, 221, 1);
	#copyright {
		padding: 20px;
		background-color: #d4d3d3;
	}
	#footer-menu {
		width: 1122px;
		margin: 0 auto;
	}
}

.panel {

}

a {
	color: #737373;
	text-decoration: none;
}

.button-with-popup {
	position: relative;
	display: inline-block;
	.button-popup {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		border: 1px solid #e5e5e5;
		background: #ffffff;
		padding: 10px;
		z-index: 10;
		margin-top: 5px;
		&:before {
			content: "";
			position: absolute;
			bottom: 100%;
			height: 7px;
			width: 48px;
			background-color: #ffffff;
			z-index: 20;
			right: -1;
			border-right: 1px solid #e5e5e5;
			border-left: 1px solid #e5e5e5;
			box-sizing: border-box;
		}
		&.active {
			display: block;
		}
		.select2 {
			margin-bottom: 5px;
		}
		button.btn.btn-success {
			margin-top: 10px;
			width: auto !important;
			height: auto !important;
		}
	}
	&:hover .button-popup{
		/* display: block;*/
	}
	&:hover button.btn.btn-primary,
	button.btn.btn-primary.active {
		background-color: #ffffff !important;
		border-color: #e5e5e5 !important;
		color: #92c77b;
	}
}

@media (max-width: 1024px) { 
	html {
		// transform: scale(0.9); 
	}
}

#left-column {
	width: 200px;
	float: left;
}

#right-column {
	width: 922px;
	margin-left: 200px;
}