{% trans_default_domain 'MPUserBundle' %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Реєстрація</h3>
  </div>
  <div class="panel-body">

<form role="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>

</div>
</div>