{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <h2>Обговорення</h2>

    <div class="list-group">
        {% for entity in entities %}
            <a class="list-group-item" href="{{ path('question_show', { 'id': entity.id }) }}">
                <span class="badge">Рейтинг: {{ entity.countRating }}</span>
                {{ entity.message }}</td>
            </a>
        {% endfor %}
    </div>

    <br/>
    
    <a href="{{ path('question_new') }}">
        <button class="btn btn-primary">
            Створити нове обговорення
        </button>
    </a>

    {% endblock %}
