{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <h1>Створити питання</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        {% if id != 0 %}
            <a href="{{ path('question', { 'id': id }) }}">
                Повернутись до списку
            </a>
        {% else %}
            <a href="{{ path('my_person_show') }}">
                Повернутись до профайлу
            </a>
        {% endif %}
    </li>
</ul>
{% endblock %}
