{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <h1>Створити питання</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('circle_show', { 'id': id }) }}">
            Повернутись до кола
        </a>
    </li>
</ul>
{% endblock %}
