{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <h1>Створити питання</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('question_personal') }}">
            Повернутись до списку
        </a>
    </li>
</ul>
{% endblock %}
