{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            Обговорення
        </div>
        <div class="panel-body">

            <h3>{{ entity.message }}</h3>

            {{ render(controller( 'MPSocialBundle:RatingQuestion:new', { 'id': entity.id } )) }}

            Оцінка: {{ entity.countRating }}

            {{ render(controller( 'MPSocialBundle:Answer:viewByQuestion', { 'id': entity.id } )) }}
            {{ render(controller( 'MPSocialBundle:Answer:new', { 'id': entity.id } )) }}
                <a style="float: right;" href="{{ path('question_personal') }}">
                    <button  class="btn btn-default">
                        Повернутись до списку питаннь
                    </button>
                </a>


        </div>
    </div>
{% endblock %}
