{% extends 'MPUserBundle::layout.html.twig' %}
{% trans_default_domain 'MPUserBundle' %}
{% block content -%}
	<div class="panel panel-default">
        <div class="panel-heading">
    		Редагування профайлу
    	</div>
        <div class="panel-body">

        	{#{ render(controller( 'IndexBundle:Address:getSelectAjax', { 'id': 0 } )) }#}

		    {{ form(edit_form) }}
    	</div>
    </div>
</ul>
{% endblock %}
