{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <h2>Користувачі системи</h2>

    <table class="records_list">
        <thead>
            <tr>
                <th>ПІБ</th>
                <th>Телефон</th>
                <th>Дата рародження</th>
                <th>Стать</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('person_show', { 'id': entity.id }) }}">
                        {{ entity.lastname }} {{ entity.firstname }} {{ entity.surname }}
                    </a>
                </td>
                <td>
                    {#{{ entity.phone }}#}
                </td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('d.m.Y') }}{% endif %}</td>
                <td>{% if entity.sex == 0 %}Чоловіча{% else %}Жіноча{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
