{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <h1>Person creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('person') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
