{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if is_logged_user %}
                Мій профайл
            {% else %}
                Профайл
            {% endif %}
        </div>
        <div class="panel-body">

            <div class="">
                <a href="{{ path('person') }}">
                    <button  class="btn btn-primary">Список користувачів</button>
                </a>
                {#{% if is_logged_user %}#}

                    <a href="{#{  path('question_with_user' , { 'id': entity.getUser.getId }) }#} "><button  class="btn btn-primary">
                            {% if is_logged_user %}
                                Обговрення в яких я беру участь
                            {% else %}
                            Обговрення в яких бере участь користувач
                            {% endif %}
                        </button></a>
                <a href="{#{  path('circle_with_user' , { 'id': entity.getUser.getId }) }#} "><button  class="btn btn-primary">
                        {% if is_logged_user %}
                            Мої спільноти
                        {% else %}
                            Спільноти з користувачем
                        {% endif %}
                    </button></a>
                {#{% endif %}#}
            </div>
            </br>
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Ім'я: </th>
                            <td>{{ entity.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Прізвище: </th>
                            <td>{{ entity.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Побатькові: </th>
                            <td>{{ entity.surname }}</td>
                        </tr>
                        <tr>
                            <th>Телефон: </th>
                            {#<td>{{ entity.phone }}</td>#}
                        </tr>
                        <tr>
                            <th>Дата народження: </th>
                            <td>{{ entity.birthday|date('d.m.Y') }}</td>
                        </tr>
                        <tr>
                            <th>Стать: </th>
                            <td>{% if entity.sex == 0 %}Чоловіча{% else %}Жіноча{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Робота: </th>
                            <td>{{ entity.work }}</td>
                        </tr>
                        <tr>
                            <th>Адресса: </th>
                            <td>{{ entity.address|replace({'+': " "}) }}</td>
                        </tr>
                    </tbody>
                </table>

                </br>
                {% if is_logged_user %}
                    <a href="{{ path('person_edit', { 'id': entity.id }) }}">
                        <button  class="btn btn-default">Редагувати профайл</button>
                    </a>
                {% endif %}


                    {% if is_logged_user %}
            <a href="{#{  path('question' , { 'id': entity.getUser.getId }) }#}">
                <button  class="btn btn-default">
                        Обговорення про мене
                </button>
            </a>
                    {% else %}

                        <a href="{#{ path('question_personal_new', { 'id': entity.getUser.getId }) }#}">
                            <button  class="btn btn-default">
                                Створити обговорення про користувача
                            </button>
                        </a>
                        <a href="{#{  path('question' , { 'id': entity.getUser.getId }) }#}">
                            <button  class="btn btn-default">
                                Обговорення про користувача
                            </button>
                        </a>

                    {% endif %}

                
        </div>
    </div>


{% endblock %}
