{% extends 'MPUserBundle::layout.html.twig' %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if is_logged_user %}
                Мій профайл
            {% else %}
                Профайл
            {% endif %}
        </div>
        <div class="panel-body">

            <div class="">
                <a href="{{ path('person') }}">
                    <button  class="btn btn-primary">Список користувачів</button>
                </a>
                {% if is_logged_user %}
                    <a href="{{ path('company') }}"><button  class="btn btn-primary">Юридична особа</button></a>
                    <a href="{{ path('question_personal') }}"><button  class="btn btn-primary">Обговрення в яких я беру участь</button></a>
                {% endif %}
            </div>
            </br>
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Ім'я: </th>
                            <td>{{ entity.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Прізвище: </th>
                            <td>{{ entity.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Побатькові: </th>
                            <td>{{ entity.surname }}</td>
                        </tr>
                        <tr>
                            <th>Телефон: </th>
                            {#<td>{{ entity.phone }}</td>#}
                        </tr>
                        <tr>
                            <th>Дата народження: </th>
                            <td>{{ entity.birthday|date('d.m.Y') }}</td>
                        </tr>
                        <tr>
                            <th>Стать: </th>
                            <td>{% if entity.sex == 0 %}Чоловіча{% else %}Жіноча{% endif %}</td>
                        </tr>
                    </tbody>
                </table>

                </br>
                {% if is_logged_user %}
                    <a href="{{ path('person_edit', { 'id': entity.id }) }}">
                        <button  class="btn btn-default">Редагувати профайл</button>
                    </a>
                {% endif %}

                <a href="{{ path('question', { 'id': entity.id }) }}">
                    <button  class="btn btn-default">
                    {% if is_logged_user %}
                        Обговорення про мене
                    {% else %}
                        Обговорення користувача
                    {% endif %}
                    </button>
                </a>
                
        </div>
    </div>


{% endblock %}
