/* line 1, ../sass/main.scss */
body {
  background-color: #ebebeb;
}

/* line 5, ../sass/main.scss */
ul {
  list-style-type: none;
}

/* line 9, ../sass/main.scss */
.record_properties td {
  padding: 5px 20px;
}

/* line 13, ../sass/main.scss */
.record_properties tr:nth-child(even) {
  /*background-color: e3e3e3;*/
}

/* line 17, ../sass/main.scss */
.records_list td {
  padding: 5px 20px;
}

/* line 20, ../sass/main.scss */
.records_list th {
  text-align: center;
  padding: 5px 20px;
}

/* line 25, ../sass/main.scss */
.records_list tr:nth-child(even) {
  background-color: e3e3e3;
}

/* line 29, ../sass/main.scss */
.records_list2 {
  width: 100%;
}

/* line 33, ../sass/main.scss */
.records_list2 tr:nth-child(even) {
  background-color: eee;
}

/* line 37, ../sass/main.scss */
.records_list2 td {
  padding: 10px;
}

/* line 41, ../sass/main.scss */
#mp_userbundle_person_birthday select {
  width: 100px;
  display: inline-block;
  margin-right: 10px;
}

/* line 47, ../sass/main.scss */
.add_raiting {
  float: right;
}

/* line 51, ../sass/main.scss */
.add_raiting .control-label {
  display: none;
}

/* line 56, ../sass/main.scss */
.add_raiting form,
.add_raiting .form-group {
  display: inline-block;
}

/* line 60, ../sass/main.scss */
.add_raiting .form-group {
  margin-right: 5px;
}

/* line 64, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 68, ../sass/main.scss */
#mp_socialbundle_answer .control-label {
  display: none;
}

/* line 72, ../sass/main.scss */
.reiting {
  margin-top: 10px;
  color: #6b6b6b;
}

/* line 77, ../sass/main.scss */
#header {
  background-color: #ffffff;
}
/* line 79, ../sass/main.scss */
#header #top-header {
  margin: 0 auto;
  width: 1010px;
  height: 125px;
  vertical-align: middle;
  padding-top: 25px;
}
/* line 86, ../sass/main.scss */
#header #top-header #logo {
  margin-right: 20px;
}
/* line 90, ../sass/main.scss */
#header #top-header .search-block {
  display: inline-block;
  padding-right: 20px;
}
/* line 93, ../sass/main.scss */
#header #top-header .search-block input {
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
}
/* line 99, ../sass/main.scss */
#header #top-header .search-block button.btn {
  box-sizing: border-box;
  height: 48px;
  width: 48px;
  border-radius: 0;
  vertical-align: middle;
}
/* line 105, ../sass/main.scss */
#header #top-header .search-block button.btn.btn-primary {
  background-color: #5f5f5f;
  border-color: #5f5f5f;
}
/* line 110, ../sass/main.scss */
#header #top-header .search-block .category-select {
  display: inline-block;
}
/* line 114, ../sass/main.scss */
#header #top-header .search-block .customSelect {
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #e5e5e5;
  border-left: 0;
  background-color: #f9f9f9;
  vertical-align: middle;
  padding: 12px 0 0 5px;
}
/* line 124, ../sass/main.scss */
#header #top-header .search-block .customSelect.customSelectHover {
  /* Styles for when the select box is hovered */
}
/* line 128, ../sass/main.scss */
#header #top-header .search-block .customSelect.customSelectOpen {
  /* Styles for when the select box is open */
}
/* line 132, ../sass/main.scss */
#header #top-header .search-block .customSelect.customSelectFocus {
  /* Styles for when the select box is in focus */
}
/* line 136, ../sass/main.scss */
#header #top-header .search-block .customSelectInner {
  /* You can style the inner box too */
}
/* line 140, ../sass/main.scss */
#header #top-header #register-block {
  text-align: right;
  display: inline-block;
  padding-left: 10px;
}
/* line 144, ../sass/main.scss */
#header #top-header #register-block li {
  display: inline-block;
}
/* line 149, ../sass/main.scss */
#header #menu-header {
  background-color: #f7f7f7;
  height: 58px;
  color: #737373;
}
/* line 153, ../sass/main.scss */
#header #menu-header ul {
  padding: 0;
  width: 1010px;
  margin: 0 auto;
}
/* line 157, ../sass/main.scss */
#header #menu-header ul li {
  display: inline-block;
  position: relative;
  height: 58px;
  width: 180px;
  padding-top: 12px;
}
/* line 163, ../sass/main.scss */
#header #menu-header ul li ul {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: auto;
}
/* line 171, ../sass/main.scss */
#header #menu-header ul li ul li {
  height: auto;
  display: inline-block;
  width: auto;
  margin-right: 5px;
}
/* line 178, ../sass/main.scss */
#header #menu-header ul li:hover ul {
  display: inline-block;
}

/* line 186, ../sass/main.scss */
#main {
  background-color: #ebebeb;
  padding: 20px 0 30px 0;
  width: 1122px;
  margin: 0 auto;
}
/* line 191, ../sass/main.scss */
#main #left-menu {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
/* line 196, ../sass/main.scss */
#main #content {
  display: inline-block;
  vertical-align: top;
}

/* line 202, ../sass/main.scss */
#footer {
  background-color: #ebebeb;
  border-top: 1px solid #ffffff;
  box-shadow: 0px -1px 0px 0px #dddddd;
}
/* line 206, ../sass/main.scss */
#footer #copyright {
  padding: 20px;
  background-color: #d4d3d3;
}
/* line 210, ../sass/main.scss */
#footer #footer-menu {
  width: 1122px;
  margin: 0 auto;
}

/* line 220, ../sass/main.scss */
a {
  color: #737373;
  text-decoration: none;
}

/* line 225, ../sass/main.scss */
.button-with-popup {
  position: relative;
  display: inline-block;
}
/* line 228, ../sass/main.scss */
.button-with-popup .button-popup {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  padding: 10px;
  z-index: 10;
  margin-top: 5px;
}
/* line 238, ../sass/main.scss */
.button-with-popup .button-popup:before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 7px;
  width: 48px;
  background-color: #ffffff;
  z-index: 20;
  right: -1;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  box-sizing: border-box;
}
/* line 251, ../sass/main.scss */
.button-with-popup .button-popup.active {
  display: block;
}
/* line 254, ../sass/main.scss */
.button-with-popup .button-popup .select2 {
  margin-bottom: 5px;
}
/* line 257, ../sass/main.scss */
.button-with-popup .button-popup button.btn.btn-success {
  margin-top: 10px;
  width: auto !important;
  height: auto !important;
}
/* line 263, ../sass/main.scss */
.button-with-popup:hover .button-popup {
  /* display: block;*/
}
/* line 267, ../sass/main.scss */
.button-with-popup:hover button.btn.btn-primary,
.button-with-popup button.btn.btn-primary.active {
  background-color: #ffffff !important;
  border-color: #e5e5e5 !important;
  color: #92c77b;
}

/* line 280, ../sass/main.scss */
#left-column {
  width: 200px;
  float: left;
}

/* line 285, ../sass/main.scss */
#right-column {
  width: 922px;
  margin-left: 200px;
}
