{% extends '::base.html.twig' %}

{% block body -%}

	<div id="left-column">
		<img src="{{ asset('bundles/dk/images/cap.png') }}"/>


		<a href="{{ path('company_new') }}">Створити Юридичну особу</a>
        <a href="{{ path('company') }}">Мої Юридичні особи</a>

	</div>

	<div id="right-column">
		{% block content %}
		{% endblock %}
	</div>

{% endblock %}