{% extends 'MPUserBundle::layout.html.twig' %}

{% trans_default_domain 'MPUserBundle' %}
{% block content -%}
    <h1>Company edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('company') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
