{% extends 'MPUserBundle::layout.html.twig' %}

{% trans_default_domain 'MPUserBundle' %}
{% block content -%}
    <h1>Мої компанії</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Назва компанії</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.companyname }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('company_show', { 'id': entity.id }) }}">Показати</a>
                    </li>
                    <li>
                        <a href="{{ path('company_edit', { 'id': entity.id }) }}">Редагувати</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('company_new') }}">
                Створити компанію
            </a>
        </li>
    </ul>
    {% endblock %}
