{% extends 'MPUserBundle::layout.html.twig' %}

{% trans_default_domain 'MPUserBundle' %}
{% block content -%}
    <h1>Company creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('company') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
