{% extends 'MPUserBundle::layout.html.twig' %}

{% trans_default_domain 'MPUserBundle' %}
{% block content -%}
    <h1>Компанія {{ entity.companyname }}</h1>

    <table class="record_properties">
        <tbody>

            <tr>
                <th>Назва компанії</th>
                <td>{{ entity.companyname }}</td>
            </tr>

            <tr>
                <th>Контактна особа</th>
                <td>{{ entity.contactname }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Короткий опис/th>
                <td>{{ entity.about }}</td>
            </tr>
            <tr>
                <th>Сфери діяльності</th>
                <td>{{ entity.worktype }}</td>
            </tr>
            <tr>
                <th>Персонал</th>
                <td>{{ entity.stuff }}</td>
            </tr>
            <tr>
                <th>Бренд</th>
                <td>{{ entity.brends }}</td>
            </tr>
            <tr>
                <th>Клієнти</th>
                <td>{{ entity.clients }}</td>
            </tr>
            <tr>
                <th>Оборот на рік</th>
                <td>{{ entity.salesayear }}</td>
            </tr>
            <tr>
                <th>Сертифікати</th>
                <td>{{ entity.certificates }}</td>
            </tr>
            <tr>
                <th>Організаційно-правова форма</th>
                <td>{{ entity.opf }}</td>
            </tr>
            <tr>
                <th>статутний фонд</th>
                <td>{{ entity.uf }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    
    <li>
        <a href="{{ path('company_edit', { 'id': entity.id }) }}">
            Редагувати
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
